<div class="container">
  <div class="row mt-5 mb-5">
    <div class="col-md-4">
      <div>
        <img src="{{produto.imagem}}" alt="imagem" width="300px" height="350px">
      </div>
    </div>

    <div class="col-md-8">
      <div class="card mt-5">
        <div class="card-header">
          <div class="row">
            <div class="col-md-8">
              <h5>{{produto.nome}}</h5>
            </div>
            <div class="col-md-4"></div>
          </div>
        </div>
        <div class="card-body">
          <p class="card-text">R${{produto.preco}}</p>
        </div>
      </div>

      <hr class="m-5">
      <h5 class="text-center mb-3">Deseja apagar esse produto?</h5>
      
        <div class="col-md-12 d-flex justify-content-center">
          <button class="btn btn-outline-success mr-3" (click)="btnSim()">Sim</button>
      
          <button class="btn btn-outline-danger" (click)="btnNao()">Não</button>
        </div>
    </div>
  </div>
</div>